:root {
	--base-color: #171719;
	--main-color: #e75626;
	--primary-color: #ffffff;
	--secondary-base-color: #262628;

	--main-hover-color: #be3b10;

	--main-rgba: 74, 29, 255;
	--primary-rgba: 255, 255, 255;

	--input-border-color: #dddddd;
	--input-hover-border-color: #ffffff;

	--header-height: 72px;
	--header-bg-color: rgba(255, 255, 255, 0.8);

	--logo-bg-color: #5a5a5a;
	--logo-border-color: #c7c7c7;

	--outer-circle-bg: #212124;
	--inner-circle-bg: #1e1e20;
	--circle-border-color: #323232;
}
