.root {
	background-color: var(--base-color);
	padding: 0 14%;

	&Section {
		margin-top: 96px;
		display: flex;
		justify-content: space-between;

		.data {
			h1 {
				font-family: "Bebas Neue";
				font-style: normal;
				font-weight: 400;
				font-size: 48px;
				line-height: 120%;
				color: var(--primary-color);
				padding-bottom: 48px;
			}
		}

		.widget {
			position: absolute;
			right: 5%;
		}
	}
}
