.root {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--primary-color);
	background: var(--base-color) !important;
	height: var(--header-height) !important;
	line-height: normal !important;
	width: 100%;
	max-width: 1377px;
	margin: 0 auto;

	.logo {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--logo-bg-color);
		border: 1px dashed var(--logo-border-color);

		&Title {
			font-family: "Bebas Neue";
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 110%;
			padding: 12px 86px;
			color: var(--primary-color);
		}
	}

	button {
		padding: 10px 24px 6px;
		border-radius: 30px;
		font-family: "Bebas Neue";
		font-size: 18px;
		line-height: 120%;
		cursor: pointer;
	}

	.accountID {
		font-family: "Bebas Neue";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 120%;
		color: var(--main-color);
		max-width: 145px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}
